*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #2e2b2b 25%, #0f0f0f 25%, #0f0f0f 50%, #1a1a1a 50%, #1a1a1a 75%, #0f0f0f 75%, #0f0f0f 100%);
    background-size: 56.57px 56.57px;
}

.calculator-grid {
    justify-content: center;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}
.calculator-grid > button:nth-child(2), .calculator-grid > button:nth-child(3) {
    background-color: #FF9A00;
    color: #FFFFFF;
}

.calculator-grid > button:nth-child(4n), .calculator-grid > button:nth-child(17), .calculator-grid > button:nth-child(19){
    background-color: #383838;
    color: #FFFFFF;
}

.calculator-grid > button {
    font-weight: bold;
    color: black;
    cursor: pointer;
    font-size: 1.75rem;
    border: 1px solid #ffffff88;
    outline: none;
    background-color: rgb(206, 206, 206);
}

.calculator-grid > button:hover {
    background-color: #ec7d5b;
}

.span-two {
    grid-column: span 2;
}

.output {
    border: 1px solid #ffffff88;
    grid-column: 1 / -1;
    background: linear-gradient(to left, #353a5e 0%, #424874 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    font-family: "Iceberg", sans-serif;
    color: rgb(255, 255, 255, 0.8);
    font-size: 1.5rem;
}

.output .current-operand {
    font-family: "Iceberg", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}